<!-- <div class="container">
    <h3>User Details</h3>
    <table class="table">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{ user.first_name }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ user.last_name }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
   -->
   <h3>User Details</h3>
   <table class="table">
     <tbody>
       <tr>
         <th>First Name</th>
         <td>{{ user.first_name }}</td>
       </tr>
       <tr>
         <th>Last Name</th>
         <td>{{ user.last_name }}</td>
       </tr>
       <tr>
         <th>Email</th>
         <td>{{ user.email }}</td>
       </tr>
     </tbody>
   </table>